Pasantias/ATOMBTC-5m-data.pickle
*/__pycache__
*.session*
*.env
*.diff
*.log
*.loge
*.pyc
*/capa_datos.*
capa_datos.*
Prueba/*
*/Prueba
*.pickle
*.csv
Proyecto/*.png
*.loge
../*.pickle
ATOMBTC-5m-data.pickle